body {
	/*
	padding: 0;
	margin: 0;
*/
	background: #fff;
	position: relative;

}


.container {
	width: 615px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color: dimgrey;
	font-family: macho, sans-serif;
	font-weight: 400;
	font-style: normal;
	display: block;
	text-align: center;

}



#name h1 {
	padding-bottom: 20px;
	padding-left: 40px;
	/*	align-content: center;*/
	/*	font-kerning:*/
	font-size: 110px;
	font-family: chainprinter, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: green;
	text-decoration: line-through;
	text-decoration-style: dotted;
	text-shadow: 0px 5px 17px gold;
