body 
{
/*	padding: 0;*/
	margin: 0;
	background: #ffffff;
	
}

.container {
	width: 615px;
		margin-left: auto;
		margin-right: auto;
}


.large-letter-group {
	display:flex;
	align-items: flex-end;
	padding-bottom: 50px;
	position: relative;
}

/*
.large letter {
	
	height: 282.651px;
	width: 234.01px
	
}
*/


.large-letter-group h1{
	display: flex;
	font-family: condor, sans-serif;
	font-weight: 400; 
	font-style: normal;
	font-size: 200px;
	align-items: flex-end;
	justify-content:bottom;
/*	padding: 0;*/
	position: relative;
	margin: 0;
	left:60px;
		
}

#letter-analysis{
	position: absolute;
	z-index: 99;
	top:-68px;
	left:-52px;
	    width: 368px;
    height: 360px;
	visibility: hidden;
}

#letter-analysis visible{
visibility: visible;
}

#main-title {
position: relative;
	display: flex;
	left:220px;
	width: 220px;
	height: 220px;
font-family: condor, sans-serif;
	font-weight: 400; 
	font-style: normal;
	font-size: 45px;
	color: #F00808;
	border-style: solid;
border-color: black;
	border-width: 5px;
	
}

/*
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="assets/toggle.jquery.js"></script>
*/
#clickme{
	position:relative;
	left: 180px;
	background-color: #f00808;
	height: 240px;
	width: 5px;
	text-shadow: 5px 5px grey;
}

/*
#maintitle{
	position:relative;
}
*/
	

.main-copy {
	font-family: condor, sans-serif;
	font-size: 10px;
	line-height: 26px;
	margin-top: 0px;
	margin-bottom: 10px;
font-weight: 300;
font-style: normal;
	width:321px;
	height:253px;
	padding-bottom: 20px;
	padding-right: 20px;
	
}

.black-box {
	background-color: #000000;
	width:321px;
	height:273px;
}
.red-box{
	position: absolute;
	bottom: 25px;
	left: 620px;
	 background-color: #F00808;
	width:60px;
	height:30px;
}
#first-box{
	margin-bottom: 50px;
}
.row-1, 
.row-2{
display: flex;
/*	padding-bottom: 5px;*/
}

.row-2{
	padding-bottom: 50px;
}

.row-2 img {
	height: 94px;
	width: 94px;
}


.author-heading{
	font-family: condor, sans-serif;
	font-size: 10px;
	line-height: 26px;
	margin-top: 0px;
	margin-bottom: 10px;
font-weight: 300;
font-style: normal;
	height:253px;
	padding-left:20px;
}

/*
footer {
	display: flex;
}
*/


footer .sources {
	font-family: condor, sans-serif;
	font-size: 10px;
	line-height: 26px;
	margin-top: 0px;
	margin-bottom: 10px;
font-weight: 300;
font-style: normal;
	width: 700px;
	height: 285px;
font-weight: 300;
font-style: normal;	

}

/*
footer img {
	height: 94px;
	width: 94px;
	
*/
/*}*/