body 
{
/*	padding: 0;*/
	margin: 0;
	background:#ffffff;
	
}

.container {
	width: 615px;
		margin-left: auto;
		margin-right: auto;
	position: relative;
	background-color: white;
}


.large-letter-group {
	display:flex;
	align-items: flex-end;
	padding-bottom: 50px;
	padding-top: 50px;
	position: relative;
}

/*
.large letter {
	
	height: 282.651px;
	width: 234.01px
	
}
*/


.large-letter-group h1{
	display: flex;
	font-family: condor, sans-serif;
	font-weight: 400; 
	font-style: normal;
	font-size: 200px;
	align-items: flex-end;
	justify-content:bottom;
/*	padding: 0;*/
	position: relative;
	margin: 0;
	left:60px;
		
}

#letter-analysis{
	position: absolute;
	z-index: 99;
	top:-68px;
	left:-52px;
	    width: 368px;
    height: 360px;
	visibility: hidden;
}

#letter-analysis.visible{
visibility: visible;
}

#main-title {
position: relative;
	display: flex;
	left:220px;
	width: 220px;
	height: 220px;
font-family: condor, sans-serif;
	font-weight: 400; 
	font-style: normal;
	font-size: 45px;
	color: #F00808;
	border-style: solid;
border-color: black;
	border-width: 5px;
	
}

/*
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="assets/toggle.jquery.js"></script>
*/
#clickme{
	position:relative;
	left: 13%;
    top: -49px;
	background-color: #f00808;
	height: 20px;
/*
	width: 5px;
	box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
*/
	display: inline-block;
  padding: 15px 25px;
cursor: pointer;
outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
}

.button:hover {background-color: #f00808}

.button:active {
  background-color: #f00808;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*
#maintitle{
	position:relative;
}
*/
	

.main-copy {

font-family: condor, sans-serif;
font-weight: 400;
font-style: normal;
	font-size: 16px;
/*	line-height: 26px;*/
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: 10px;
	width:50%;
	box-sizing: border-box;
/*	height:253px;*/
	padding-bottom: 20px;
	padding-right: 20px;
	
}

 .black-box {
	background-color:white;
	width:50%;
/*	height:370px;*/
/*
	position: relative;
	 border-top: 10px;
	 border-color: black;
*/
	 	box-sizing: border-box;
	 
}
.row-1 .black-box{
border-left: #000000 solid 5px;	
/*border-right: #000000 solid 5px;*/
    /* border-left: #000001 solid 5px; */
    border-bottom: #000001 solid 5px;}

.row-2 .black-box{
border-right: #000000 solid 5px;	
 border-top: #000001 solid 5px;
}
.red-box{
	position: absolute;
	top: -15px;
	left: 45%;
/*bottom: 25px;
	left: 620px;
*/background-color: #F00808;
	width:60px;
	height:30px;

}
#first-box{
	margin-bottom: 50px;
}
.row-1, 
.row-2{
display: flex;
/*	border-bottom: 20px;*/
/*	border-color: black;*/
	
/*	padding-bottom: 5px;*/
}

.row-2{
	padding-bottom: 50px;
	position:relative;
}

.row-2 img {
	height: 94px;
	width: 94px;
}


.author-heading{
	font-family: condor, sans-serif;
	font-size: 16px;
	line-height: 26px;
	margin-top: 0px;
	margin-bottom: 10px;
font-weight: 300;
font-style: normal;
	height:253px;
	padding-left:20px;
	padding-bottom: 20px;
	width: 50%;
	box-sizing: border-box;
}

/*
footer {
	display: flex;
}
*/


footer .sources {
		font-family: condor, sans-serif;
font-weight: 400;
font-style: normal;
	font-size: 10px;
	line-height: 26px;
	margin-top: 0px;
	margin-bottom: 10px;
	width: 50%	;
	height: 285px;
font-weight: 300;
font-style: normal;	
	text-align: left;
	margin-left: auto;
}
	
a:visited {
color: #999999;
}


.sources h3{
	position: relative;
	position: relative;
    left: -24px;
	text-align: left;
	font-size: 16px;
	color: #f00808;
}

/*
footer img {
	height: 94px;
	width: 94px;
	
*/
/*}*/