* {
	margin: 0;
	padding: 0;
}

body {
	background: #3462bf;
	/*	text-align: center;*/
	/*height:767px;*/
}

#content {
	width: 1024px;
	margin: 0 auto;
}

.section-content {
	width: 80%;
	margin: 0 auto;
}

.color-example {
	background-color: yellow;
}

#title {
	/*
height:102px;
	width: 1280px;
*/
	font-family: blenny, sans-serif;

	font-weight: 900;

	font-style: normal;
	font-size: 80px;
	color: black;
	margin: 0;
	text-align: center;
	text-shadow: 8px 0px yellow;

}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
}

.circle:hover {
	opacity: .5;
	cursor: pointer;
}

#blue-circle,
#red-blue,
#yellow-blue {
	background-color: blue;
	left: 34%;
	top: 23%;
}

#red-circle,
#blue-red,
#yellow-red {
	background-color: red;
	left: 46%;
	top: 17%;
}

#yellow-circle,
#blue-yellow,
#red-yellow {
	background-color: yellow;
	left: 54%;
	top: 30%;
}

#white-palette {
	width: 362px;
	position: absolute;
	left: 31%;
}

#start-options,
#color-palette,
#mix,
#contrast,
#gradient,
#ratio {
	height: 767px;
	color: white;
}

#contrast,
#gradient,
#ratio {
	background-color: #63b405;
	color: black;
}



#start-options,
#mix {
	background-color: #308ad9;
}

#color-palette {
	background-color: #f20505;
	position: relative;

}


h1 {
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 36px;
	color: #edc622;
	margin-bottom: 20px;
}

h2 {
	font-family: roboto, sans-serif;

	font-weight: 300;

	font-style: normal;
	margin-bottom: 10px;
}

p {
	margin-bottom: 40px;
	font-size: 1.17em;

	font-family: lato, sans-serif;

	font-weight: 400;

	font-style: normal;
}

#one-button {
	background-color: #f2b705;
	height: 30px;
	width: 105px;
	position: relative;
	left: 383px;
	padding: 10px;
}

#two-button {
	background-color: #f2b705;
	height: 30px;
	width: 105px;
	position: relative;
}

.home-button {
	background-color: #f2b705;
	height: 30px;
	width: 105px;
	position: relative;
}

#a-button,
#b-button,
#c-button {
	margin-bottom: 40px;
	background-color: #f2b705;
	height: 30px;
	width: 105px;
	position: relative;
}




#reveal-button {
	height: 5em;
	width: 5em;
	background-color: #fff;
}

#reveal-button:hover {
	background-color: beige;
}

.invisible {
	display: none;
}

.active {
	opacity: .5;
}

#easel {
	width: 156px;
}


img.paint-splat {
	width: 50px;
	position: absolute;
}

#bluepaint,
#redpaint,
#greenpaint,
#orangepaint,
#purplepaint,
#yellowpaint {
	top: 127px;
	left: 150px;
}

#redpaint,
#yellowpaint,
#bluepaint {
	z-index: 9;
}

#greenpaint,
#orangepaint,
#purplepaint {
	z-index: 10;
}



.modal {
	color: black;
	height: 60%;
	width: 50%;
	background: #f2b705;
	padding: 3%;
	position: fixed;
	top: 1%;
    left: 27%;
	z-index: 6;
/*	margin: 100px;*/
}


#rectangle-gradient {
	background: linear-gradient(to right, #f20505 0%, #fff 100%);
	z-index: 7;
	width: 230px;
	height: 100px;
	position: relative;
	left: 25%;
}

#contrast-chart {
	width: 250px;
}

.square {
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 17px;
	display: flex;
	margin-left: 100px;
}

#square.dark {
	color: #ff0000;
	position: absolute;
	top: auto;
	left: 50px;
	padding: 20px;
}

#med {
	color: #ff8080;
	position: absolute;
	top: auto;
	left: 100px;
	padding: 20px;
}

#light {
	top: auto;
	left: 100px;
	color: #800000;
	padding: 20px;
}

.visible {
	visibility: visible;
}

.grey_background {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}
